

html, body, .container-fluid {
  height: 100%;
}

body {
  background-color:rgb(51, 51, 51);
}

canvas {
    display: block;
}
.footer, .header{
  height: 70px;
  background-color: rgb(61,61,61);
}

#controls {
  margin: 30px
}

#p5 {
  height: calc(100vh - 200px);  
  margin: 30px
}


#description{
  color:coral
}

#title {
  color: coral;
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.input-group-text,.text-lg-start {
  color: whitesmoke;
  background-color: rgb(63, 63, 63);
  width: 120px;
}

.form-control {
  color: rgb(63, 63, 63);
  background-color: whitesmoke;
}

.form-control:disabled {
  color: whitesmoke;
  background-color:rgb(63, 63, 63);
}

.btn-primary {
  color: coral;
  background-color: rgb(63, 63, 63);
  border-radius: 1;
  border-color: rgb(95, 86, 82);
}

.btn-primary:hover {
  color: rgb(63, 63, 63);
  background-color: coral;
  border-radius: 1;
  border-color: coral;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0rem whitesmoke;
} 

  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: whitesmoke;
  background-color: rgb(255, 138, 96);
  border-color: rgba(255, 255, 255, 0.329);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 3px rgb(253, 153, 117);
}


